@import 'variables';

* {
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family:'Times New Roman', Times, serif;
}
body {
    background-color:$background-color;
    color: $text-color;
    position:relative;
}
.content-box {
   width:80%;
   height:720px;
   background-color:white;
   margin:2% auto;
   border-radius:10px;
   .content-box-header {
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    padding:2em 3em;
    letter-spacing: .1em;
    .logo{
        display:flex;
        align-items:center;
        span {
            font-size: medium;
            font-weight:502;
            margin-left:10px;
        }
    }
   }
   .content-box-input {
     display:flex;
     flex-direction: column;
     justify-content: center;
     align-items:center;
     h3 {
        margin-top:.2em;
        margin-bottom:.3em;
        text-transform: capitalize;
        font-size:27px;
        letter-spacing: .2em;
        color:grey;
     }
     .input-box {
        width:80%;
        height:40px;
        background:rgb(165, 165, 165); 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        input {
            position:absolute;
            left:0%;
            right:15%;
            height:40px;
            flex-grow: 5;
            font-size: 30px;
            padding-left:.5em;
            outline:none;
            border:none;
            background-color:rgba(217, 217, 217, 1);
        }
        button {
            width:15%;
            height:40px;
            border:none;
            outline:none;
            position:absolute;
            background-color: rgba(200, 200, 200, 1);
            right:0%;
            left:85%;
            color:white;
            letter-spacing:.1em;
            font-size:30px;
        }
     }
   }
   .todo-list-container {
     width:70%;
     height:500px;
     margin:1% auto;
     overflow-y:auto;
     background-color:rgb(240, 235, 235);
     .container-box {
        width:70%;
        height:120px;
        margin:.3em auto;
        background-color: rgb(196, 196, 196);
        overflow-y: auto;
        .day-heading {
            text-transform: uppercase;
            font-size: 25px;
            letter-spacing: .2em;
            margin-left:20px;
            color:rgb(20, 18, 18);
        }
        .task-list {
            display:flex;
            flex-direction: row;
            padding:.5em;
            justify-content: space-around;
            align-items: center;
        }
     }
   }
}